// CUSTOM

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-padding-top: 67px;
    scroll-behavior: smooth;
}

html,
body {
    max-width: 100% !important;
    overflow-x: hidden !important;
}

ul,
a {
    text-decoration: none;
    color: initial;
    padding: 0 0.5rem;
}

::selection {
    background: $text2 !important;
    color: #fff;
}

.center{
    display: flex;
    align-items: center;
    justify-content: center;
}