// HEADER & NAV
nav {
    background-color: $navbar;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}
.navbar {
    padding-top: 0.9581rem;
    padding-bottom: 0.9587rem;
}
.container-menu {
    padding: 0 16px !important;
    width: 100vw !important;
}
.navbar-dark {
    .navbar-toggler {
        padding: 0 !important;
    }
    .navbar-toggler-icon {
        background-image: url("../assets/img/menu.svg") !important;
    }
}
.menu-icon {
    display: none;
}
.navbar-brand {
    padding: 0 !important;
    margin: 0;
}
.menu-text {
    display: inline;
    color: $text1;
    font-size: 20px;
    padding: 0;
}

.nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 24px;
    .nav-links {
        color: $text2;
        font-family: "Lato", sans-serif;
        font-size: 1.125rem;
        font-weight: 400;
    }
    .nav-link--active {
        color: $text1 !important;
        font-weight: 700 !important;
    }
}
.nav-item--top {
    padding-top: 32px;
}
.nav-item--bottom {
    padding-bottom: 15px;
}

// Narrow Screens
@media (max-width: 290px) {
    .menu-text {
        font-size: 15px;
    }
}

// PC
@media (min-width: 992px) {
    .navbar {
        padding-top: 0;
        padding-bottom: 0;
        height: 112px;
    }
    .nav-links {
        font-size: 1.25rem;
        margin: 0 0 0 42px !important;
        color: $text-navbar !important;
        border-bottom: 2px solid transparent;
        transition: all 0.5s;
    }
    .nav-links:hover {
        // font-weight: 800 !important;
        text-shadow: 0 0 .65px #333, 0 0 .65px #333;
        border-bottom: 2px solid $black;
        color: rgb(0, 0, 0)!important;

    }
    .nav-item--top,
    .nav-item--bottom,
    .nav-item {
        padding: 0 !important;
    }
    .menu-icon {
        display: flex;
        width: 64px;
    }
    .menu-text {
        display: none;
    }
}
