// Sections

// clientes
.clientes {
    padding-top: 58px; //(es lo que ocupa el header, eliminar despues!)
    background-color: $primary;
    height: max-content;
    .clientes__img {
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            width: 86.7px;
        }
    }
    h4 {
        margin-top: 20.5px;
        font-size: 1.5rem;
        letter-spacing: 1.2px;
        color: $black;
        text-transform: uppercase;
        font-weight: 500;
        font-family: "Jost", Arial;
        text-align: center;
        line-height: normal;
    }
    h4::after {
        content: "";
        width: 80px;
        height: 3px;
        background-color: $text2;
        position: absolute;
        top: 190px;
        left: 0;
        right: 0;
        margin: auto;
        border-radius: 2px;
    }
    p {
        font-size: 1.125rem;
        font-weight: 400;
        font-family: "Lato", Arial;
        text-align: center;
        padding: 18px 32px 32px 32px;
    }
    .clientes__img-logos {
        display: flex;
        a {
            padding: 0 !important;
            figure {
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                overflow: hidden;
                margin: 0;
                width: 100vw;
                // background-color: $white;
                transition: background-color 500ms ease-out;
                img {
                    width: 40%;
                    height: 40%;
                    padding: 1rem;
                    transition: all 500ms ease-out;
                    will-change: transform;
                }
                .layer {
                    position: absolute;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    background: $layer;
                    transition: all 500ms ease-out;
                    opacity: 0.5;
                    visibility: initial;
                    text-align: center;
                    display: grid;
                    justify-items: center;
                    align-items: center;
                }
                .layer-no {
                    position: absolute;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    background: $primary;
                    transition: all 500ms ease-out;
                    opacity: 0.6;
                    visibility: initial;
                    text-align: center;
                    display: grid;
                    justify-items: center;
                    align-items: center;
                }
            }
        }
    }
}

.clientes__img-logos a figure:hover > .layer {
    opacity: 0;
    visibility: hidden;
}

.clientes__img-logos a figure:hover > .layer-no {
    opacity: 0;
    visibility: hidden;
}

.figure-hover {
    background-color: $white;
}

// Footer
.footer-bar {
    height: 72px;
    background-color: $text1;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: row;
    .col-3 {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
}
