// Sections
.mobile-img {
    display: initial;
}
.pc-img {
    display: none;
}
.main-presentation {
    height: calc(100vh - 64px);
    margin-top: 64px;
    background-color: $primary;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    justify-content: center;
    .main-presentation__textbox {
        width: 311px;
        flex-grow: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 24px;
        padding: 0;
        img {
            width: 101px;
        }
        .main-presentation__text {
            font-weight: 600;
            padding: 0 28.5px 0 28.5px;
        }
        p {
            letter-spacing: normal;
            text-align: center;
            font-family: Lato;
            font-size: 18px;
            font-weight: 400;
            text-align: center;
            color: $black;
            margin-bottom: 0px;
            letter-spacing: normal;
            line-height: normal;
            .main-presentation__name {
                font-weight: 600;
                font-size: 18px;
                color: $black;
            }
        }
    }
    .main-presentation__icons {
        height: 24px;
        align-self: stretch;
        flex-grow: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        gap: 24px;
        padding: 0;
        svg {
            cursor: pointer;
            path {
                fill: #4f9c8d;
            }
            .background-svg-fb {
                fill: transparent;
            }
            transition: all 0.7s ease;
        }
        svg:hover {
            transform: scale(1.1, 1.1);
        }
    }
}

.img-menu {
    width: 93px;
}

.main-services {
    height: 2059px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 16px;
    margin: 3px 0 0;
    padding: 40px 32px;
    background-color: $navbar;
    .main-services__intro {
        height: 354px;
        align-self: stretch;
        flex-grow: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 18px;
        padding: 0;
        .main-services__title {
            width: 96px;
            height: 42px;
            flex-grow: 0;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            gap: 4px;
            padding: 0;
            h2 {
                margin-bottom: 0;
                flex-grow: 0;
                font-family: Jost;
                font-size: 24px;
                font-weight: 500;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: 1.2px;
                text-align: left;
                color: $black;
            }
            .main-services__bar {
                width: 80px;
                height: 3px;
                flex-grow: 0;
                border-radius: 2px;
                background-color: $text2;
            }
        }
        .main-services__text {
            margin-bottom: 0;
            flex-grow: 0;
            font-family: Lato;
            font-size: 18px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: center;
            color: $black;
        }
    }
    .main-services__cards {
        height: initial;
        align-self: stretch;
        flex-grow: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
        gap: 48px;
        padding: 24px 0;
        .main-card {
            align-self: stretch;
            flex-grow: 0;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            gap: 16px;
            padding: 0;
            border-radius: 8px;
            .main-cards__title {
                margin-bottom: 0;
                align-self: stretch;
                flex-grow: 0;
                font-family: Lato;
                font-size: 18px;
                font-weight: bold;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                text-align: center;
                color: $text1;
            }
            .main-cards__functions {
                align-self: stretch;
                flex-grow: 0;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: stretch;
                gap: 16px;
                padding: 0 0 8px;
                p {
                    margin-bottom: 0;
                    align-self: stretch;
                    flex-grow: 0;
                    font-family: Lato;
                    font-size: 16px;
                    font-weight: 500;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: normal;
                    letter-spacing: normal;
                    text-align: center;
                    color: $black;
                }
            }
            .main-cards__text2 {
                margin-bottom: 0;
                align-self: stretch;
                flex-grow: 0;
                font-family: Lato;
                font-size: 14px;
                font-weight: 300;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                text-align: center;
                color: $black;
            }
        }
    }
}

.main-cards__text-pc {
    display: none;
}

// clientes
.clientes {
    margin-top: 114px;
    padding-top: 50.8px;
    background-color: $primary;
    height: max-content;
    .clientes__img {
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            width: 86.7px;
        }
    }
    h4 {
        width: 80px;
        margin: 20.5px auto 0 auto;
        font-size: 1.5rem;
        letter-spacing: 1.2px;
        color: $black;
        text-transform: uppercase;
        font-weight: 500;
        font-family: "Jost", Arial;
        text-align: center;
        line-height: normal;
        border-bottom: solid 3px $text2;
        border-bottom-right-radius: 2px;
        border-bottom-left-radius: 2px;
        display: flex;
        justify-content: center;
        padding-bottom: 4px;
    }
    p {
        font-size: 1.125rem;
        font-weight: 400;
        font-family: "Lato", Arial;
        text-align: center;
        padding: 18px 32px 32px 32px;
    }
    .clientes__img-logos {
        display: flex;
        a {
            padding: 0 !important;
            figure {
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                overflow: hidden;
                margin: 0;
                width: 100vw;
                // background-color: $white;
                transition: background-color 500ms ease-out;
                img {
                    width: 50%;
                    height: 50%;
                    padding: 1rem;
                    transition: all 500ms ease-out;
                    will-change: transform;
                }
                .layer {
                    position: absolute;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    background: $layer;
                    transition: all 500ms ease-out;
                    opacity: 0.5;
                    visibility: initial;
                    text-align: center;
                    display: grid;
                    justify-items: center;
                    align-items: center;
                }
                .layer-no {
                    position: absolute;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    background: $primary;
                    transition: all 500ms ease-out;
                    opacity: 0.6;
                    visibility: initial;
                    text-align: center;
                    display: grid;
                    justify-items: center;
                    align-items: center;
                }
            }
        }
    }
}

.clientes__img-logos a figure:hover > .layer {
    opacity: 0;
    visibility: hidden;
}

.clientes__img-logos a figure:hover > .layer-no {
    opacity: 0;
    visibility: hidden;
}

.figure-hover {
    background-color: $white;
}

// Footer
.footer-bar {
    height: 72px;
    background-color: $text1;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: row;
    padding: 0 41.5px;
    flex-wrap: nowrap;
    .col {
        display: flex;
    }
    .col-3 {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    a {
        cursor: pointer;
        transition: all 0.7s ease;
    }
    a:hover {
        transform: scale(1.1, 1.1);
    }
}
.footer-img {
    width: 21px;
}

// Smartphone: orientation landscape
@media (min-device-width: 250px) and (min-device-height: 100px) and (orientation: landscape) {
    .clientes {
        margin-top: 0 !important;
    }
    .main-presentation {
        height: initial !important;
        padding-bottom: 54px;
    }
    .main-presentation__textbox {
        padding-top: 80px !important;
    }
    /*     .main-presentation__icons {
        padding-bottom: 50px !important;
    } */
}

// Narrow Screens
@media (max-width: 300px) {
    .main-presentation__textbox {
        padding: 40px !important;
    }
    .clientes {
        margin-top: 300px;
    }
    .footer-bar {
        div {
            a {
                svg {
                    width: 15px;
                }
            }
        }
    }
}

// tablet
@media (min-width: 576px) and (max-width: 991px) {
    .figure {
        height: 30vh;
    }
    .clientes .clientes__img-logos a figure img {
        width: auto;
        height: 80%;
    }
}

// PC
@media (min-width: 992px) {
    .mobile-img {
        display: none;
    }
    .pc-img {
        display: initial;
        padding-top: 56px;
        width: 240px !important;
    }
    .main-presentation {
        gap: 0;
        height: 100vh !important;
    }
    .main-presentation__textbox {
        width: auto !important;
        padding: 0px 104px 40px 104px !important;
        .hola {
            font-weight: 600 !important;
        }
    }
    .main-presentation__icons {
        margin-bottom: 72px;
    }
    .main-services {
        height: initial !important;
        padding: 64px !important;
    }
    .main-services__text {
        padding: 0 104px !important;
    }
    .main-services__intro {
        height: initial !important;
    }
    .main-services__cards {
        height: initial !important;
        margin-top: 64px;
        flex-direction: row !important;
        padding: 0 104px !important;
        gap: 0 !important;
    }
    .main-card {
        padding: 0 20px !important;
    }
    .main-cards__title {
        flex-wrap: nowrap;
        white-space: break-spaces;
        overflow-wrap: normal;
    }
    .main-cards__text2 {
        display: none;
    }
    .main-cards__text-pc {
        display: flex;
        padding-top: 51px;
    }
    .main-cards__text2-pc {
        margin-bottom: 0;
        align-self: stretch;
        flex-grow: 0;
        font-family: Lato;
        font-size: 14px;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: $black;
    }

    /* A REVISAR p/ arreglar sección Clientes en DESKTOP  */

    .figure {
        height: auto;
    }
    .clientes {
        p {
            padding: 18px 104px 32px 104px;
        }
    }
    .clientes .clientes__img-logos a figure img {
        width: 65%;
        height: 65%;
    }
    .clientes__container {
        display: flex;
        flex-direction: row;
    }
    .clientes__img-logos {
        justify-content: center;
    }
    figure {
        width: auto !important;
    }
    .col {
        justify-content: center;
    }
}

//PC > 1400width{
@media (min-width: 1400px) {
    .container {
        max-width: initial;
        margin: 0 15vw !important;
    }
}

// PC > 1490px width
@media (min-width: 1490px) {
    .main-services__cards {
        padding: 0 160px !important;
    }
    .main-card {
        padding: 0 31px !important;
    }
}

// PC > 1660px width
@media (min-width: 1660px) {
    .main-card {
        padding: 0 88px !important;
    }
}

// PC > 2100px width
@media (min-width: 2100px) {
    .main-services__cards {
        padding: 0 265px !important;
    }
    .main-card {
        padding: 0 129px !important;
    }
}

// PC > 2580px width
@media (min-width: 2580px) {
    .main-services__cards {
        padding: 0 265px !important;
    }
    .main-card {
        padding: 0 200px !important;
    }
}
