textarea:focus, input[type="text"]:focus, textarea[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus, .form-control:focus, .form-select:focus, .btn-close:focus {
  border-color: #daefec;
  -webkit-box-shadow: none;
          box-shadow: none;
}

body {
  font-family: "Lato", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-padding-top: 67px;
  scroll-behavior: smooth;
}

html,
body {
  max-width: 100% !important;
  overflow-x: hidden !important;
}

ul,
a {
  text-decoration: none;
  padding: 0 0.5rem !important;
}

::-moz-selection {
  background: #6cc8b6 !important;
  color: #fff;
}

::selection {
  background: #6cc8b6 !important;
  color: #fff;
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav {
  background-color: #fbfdfd;
  padding-top: 16px !important;
}

.container-menu {
  padding: 0 16px !important;
  width: 100vw !important;
}

.navbar-dark .navbar-toggler {
  padding: 0 !important;
}

.navbar-dark .navbar-toggler-icon {
  background-image: url("../assets/img/menu.svg") !important;
}

.menu-icon {
  width: 32px;
}

.menu-text {
  display: inline;
  color: #348c7b;
  font-size: 20px;
  padding: 10px 0 0 8px;
}

.nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 24px;
}

.nav-item .nav-link {
  color: #6cc8b6 !important;
  font-family: "Lato", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
}

.nav-item .nav-link--active {
  color: #348c7b !important;
  font-weight: 700 !important;
}

.nav-item--top {
  padding-top: 32px;
}

.nav-item--bottom {
  padding-bottom: 32px;
}

@media (max-width: 290px) {
  .menu-text {
    font-size: 15px;
  }
}

@media (min-width: 992px) {
  .nav-link {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .nav-link:hover {
    color: #348c7b !important;
  }
  .nav-item--top {
    padding-top: 24px !important;
  }
  .nav-item--bottom {
    padding-bottom: 0px !important;
  }
}

.clientes {
  padding-top: 58px;
  background-color: #daefec;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.clientes .clientes__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.clientes .clientes__img img {
  width: 86.7px;
}

.clientes h4 {
  margin-top: 20.5px;
  font-size: 1.5rem;
  letter-spacing: 1.2px;
  color: #0e201d;
  text-transform: uppercase;
  font-weight: 500;
  font-family: "Jost", Arial;
  text-align: center;
  line-height: normal;
}

.clientes h4::after {
  content: "";
  width: 80px;
  height: 3px;
  background-color: #6cc8b6;
  position: absolute;
  top: 190px;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 2px;
}

.clientes p {
  font-size: 1.125rem;
  font-weight: 400;
  font-family: "Lato", Arial;
  text-align: center;
  padding: 18px 32px 32px 32px;
}

.clientes .clientes__img-logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.clientes .clientes__img-logos a {
  padding: 0 !important;
}

.clientes .clientes__img-logos a figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  overflow: hidden;
  margin: 0;
  width: 100vw;
  -webkit-transition: background-color 500ms ease-out;
  transition: background-color 500ms ease-out;
}

.clientes .clientes__img-logos a figure img {
  width: 40%;
  height: 40%;
  padding: 1rem;
  -webkit-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
  will-change: transform;
}

.clientes .clientes__img-logos a figure .layer {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: #a5e0d7;
  -webkit-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
  opacity: 0.5;
  visibility: initial;
  text-align: center;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.clientes .clientes__img-logos a figure .layer-no {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: #daefec;
  -webkit-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
  opacity: 0.6;
  visibility: initial;
  text-align: center;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.clientes__img-logos a figure:hover > .layer {
  opacity: 0;
  visibility: hidden;
}

.clientes__img-logos a figure:hover > .layer-no {
  opacity: 0;
  visibility: hidden;
}

.figure-hover {
  background-color: #fbfdfd;
}

.footer-bar {
  height: 72px;
  background-color: #348c7b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.footer-bar .col-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}
/*# sourceMappingURL=styles.css.map */