textarea:focus, input[type="text"]:focus, textarea[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus, .form-control:focus, .form-select:focus, .btn-close:focus {
  border-color: #daefec;
  -webkit-box-shadow: none;
          box-shadow: none;
}

body {
  font-family: "Lato", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-padding-top: 67px;
  scroll-behavior: smooth;
}

html,
body {
  max-width: 100% !important;
  overflow-x: hidden !important;
}

ul,
a {
  text-decoration: none;
  color: initial;
  padding: 0 0.5rem;
}

::-moz-selection {
  background: #6cc8b6 !important;
  color: #fff;
}

::selection {
  background: #6cc8b6 !important;
  color: #fff;
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#loader {
  height: 100vh;
  width: 100vw;
  background-color: #f4faf9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  overflow: hidden !important;
  -webkit-transition: all 1.4s;
  transition: all 1.4s;
  z-index: 1405;
}

.loader__img {
  width: 100%;
}

.loader__arrow {
  position: absolute;
  bottom: 19px;
}

@media (min-device-width: 250px) and (min-device-height: 100px) and (orientation: landscape) {
  .loader__img {
    width: 30% !important;
  }
}

nav {
  background-color: #fbfdfd;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.navbar {
  padding-top: 0.9581rem;
  padding-bottom: 0.9587rem;
}

.container-menu {
  padding: 0 16px !important;
  width: 100vw !important;
}

.navbar-dark .navbar-toggler {
  padding: 0 !important;
}

.navbar-dark .navbar-toggler-icon {
  background-image: url("../assets/img/menu.svg") !important;
}

.menu-icon {
  display: none;
}

.navbar-brand {
  padding: 0 !important;
  margin: 0;
}

.menu-text {
  display: inline;
  color: #348c7b;
  font-size: 20px;
  padding: 0;
}

.nav-item {
  padding-top: 24px;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.nav-item .nav-links {
  color: #6cc8b6;
  font-family: "Lato", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  padding: 20px;
}

.nav-item .nav-link--active {
  color: #348c7b !important;
  font-weight: 700 !important;
}

.nav-item--top {
  padding-top: 32px;
}

.nav-item--bottom {
  padding-bottom: 15px;
}

@media (max-width: 290px) {
  .menu-text {
    font-size: 15px;
  }
}

@media (min-width: 992px) {
  .navbar {
    padding-top: 0;
    padding-bottom: 0;
    height: 112px;
  }
  .nav-links {
    font-size: 1.25rem;
    margin: 0 0 0 42px !important;
    padding: 0 0.5rem !important;
    color: #221f20 !important;
    border-bottom: 2px solid transparent;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .nav-links:hover {
    text-shadow: 0 0 .65px #333, 0 0 .65px #333;
    border-bottom: 2px solid #0e201d;
    color: black !important;
  }
  .nav-item--top,
  .nav-item--bottom,
  .nav-item {
    padding: 0 !important;
  }
  .menu-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 64px;
  }
  .menu-text {
    display: none;
  }
}

.mobile-img {
  display: initial;
}

.pc-img {
  display: none;
}

.main-presentation {
  height: calc(100vh - 64px);
  margin-top: 64px;
  background-color: #daefec;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-presentation .main-presentation__textbox {
  width: 311px;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
  padding: 0;
}

.main-presentation .main-presentation__textbox .hola {
  font-size: 40px;
}

.main-presentation .main-presentation__textbox img {
  width: 101px;
}

.main-presentation .main-presentation__textbox .main-presentation__text {
  font-weight: 600;
  padding: 0 28.5px 0 28.5px;
}

.main-presentation .main-presentation__textbox p {
  letter-spacing: normal;
  text-align: center;
  font-family: Lato;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  color: #0e201d;
  margin-bottom: 0px;
  letter-spacing: normal;
  line-height: normal;
}

.main-presentation .main-presentation__textbox p .main-presentation__name {
  font-weight: 600;
  font-size: 32px;
  color: #0e201d;
}

.main-presentation .main-presentation__icons {
  height: 24px;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 24px;
  padding: 0;
}

.main-presentation .main-presentation__icons svg {
  cursor: pointer;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

.main-presentation .main-presentation__icons svg path {
  fill: #4f9c8d;
}

.main-presentation .main-presentation__icons svg .background-svg-fb {
  fill: transparent;
}

.main-presentation .main-presentation__icons svg:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

.img-menu {
  width: 93px;
}

.main-services {
  height: 2059px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  gap: 16px;
  margin: 3px 0 0;
  padding: 40px 32px;
  background-color: #fbfdfd;
}

.main-services .main-services__intro {
  height: 354px;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 18px;
  padding: 0;
}

.main-services .main-services__intro .main-services__title {
  width: 96px;
  height: 42px;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
  padding: 0;
}

.main-services .main-services__intro .main-services__title h2 {
  margin-bottom: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  font-family: Jost;
  font-size: 24px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.2px;
  text-align: left;
  color: #0e201d;
}

.main-services .main-services__intro .main-services__title .main-services__bar {
  width: 80px;
  height: 3px;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  border-radius: 2px;
  background-color: #6cc8b6;
}

.main-services .main-services__intro .main-services__text {
  margin-bottom: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  font-family: Lato;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #0e201d;
}

.main-services .main-services__cards {
  height: initial;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  gap: 48px;
  padding: 24px 0;
}

.main-services .main-services__cards .main-card {
  -ms-flex-item-align: stretch;
      align-self: stretch;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
  padding: 0 14px;
  border-radius: 8px;
}

.main-services .main-services__cards .main-card .main-cards__title {
  margin-bottom: 0;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  font-family: Lato;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #348c7b;
}

.main-services .main-services__cards .main-card .main-cards__functions {
  -ms-flex-item-align: stretch;
      align-self: stretch;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  gap: 16px;
  padding: 0 0 8px;
}

.main-services .main-services__cards .main-card .main-cards__functions p {
  margin-bottom: 0;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  font-family: Lato;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #0e201d;
}

.main-services .main-services__cards .main-card .main-cards__text2 {
  margin-bottom: 0;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  font-family: Lato;
  font-size: 14px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #0e201d;
}

.main-cards__text-pc {
  display: none;
}

.clientes {
  margin-top: 114px;
  padding-top: 50.8px;
  background-color: #daefec;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.clientes .clientes__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.clientes .clientes__img img {
  width: 86.7px;
}

.clientes h4 {
  width: 80px;
  margin: 20.5px auto 0 auto;
  font-size: 1.5rem;
  letter-spacing: 1.2px;
  color: #0e201d;
  text-transform: uppercase;
  font-weight: 500;
  font-family: "Jost", Arial;
  text-align: center;
  line-height: normal;
  border-bottom: solid 3px #6cc8b6;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 4px;
}

.clientes p {
  font-size: 1.125rem;
  font-weight: 400;
  font-family: "Lato", Arial;
  text-align: center;
  padding: 18px 32px 32px 32px;
}

.clientes .clientes__img-logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.clientes .clientes__img-logos a {
  padding: 0 !important;
}

.clientes .clientes__img-logos a figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  overflow: hidden;
  margin: 0;
  width: 100vw;
  -webkit-transition: background-color 500ms ease-out;
  transition: background-color 500ms ease-out;
}

.clientes .clientes__img-logos a figure img {
  width: 40%;
  height: 40%;
  padding: 1rem;
  z-index: 2;
  opacity: 0.5;
  -webkit-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
  will-change: transform;
}

.clientes .clientes__img-logos a figure .layer {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: #bfe7e0;
  -webkit-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
  opacity: 1;
  visibility: initial;
  text-align: center;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.clientes .clientes__img-logos a figure .layer-no {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: #a4ddd2;
  -webkit-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
  opacity: 1;
  visibility: initial;
  text-align: center;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.clientes__img-logos a figure img:hover {
  opacity: 1;
}

.clientes__img-logos a figure:hover > .layer {
  opacity: 0;
  visibility: hidden;
}

.clientes__img-logos a figure:hover > .layer-no {
  opacity: 0;
  visibility: hidden;
}

.figure-hover {
  background-color: #fbfdfd;
}

.footer-bar {
  height: 72px;
  background-color: #6cc8b6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0 41.5px;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.footer-bar .col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-bar .col-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.footer-bar a {
  cursor: pointer;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

.footer-bar a:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

.footer-img {
  width: 21px;
}

@media (min-device-width: 250px) and (min-device-height: 100px) and (orientation: landscape) {
  .clientes {
    margin-top: 0 !important;
  }
  .main-presentation {
    height: initial !important;
    padding-bottom: 54px;
  }
  .main-presentation__textbox {
    padding-top: 80px !important;
  }
  /*     .main-presentation__icons {
        padding-bottom: 50px !important;
    } */
}

@media (max-width: 300px) {
  .main-presentation__textbox {
    padding: 40px !important;
  }
  .clientes {
    margin-top: 300px;
  }
  .footer-bar div a svg {
    width: 15px;
  }
}

@media (min-width: 576px) and (max-width: 991px) {
  .figure {
    height: 30vh;
  }
  .clientes .clientes__img-logos a figure img {
    width: auto;
    height: 80%;
  }
}

@media (min-width: 992px) {
  .mobile-img {
    display: none;
  }
  .pc-img {
    display: initial;
    padding-top: 56px;
    width: 240px !important;
  }
  .main-presentation {
    gap: 0;
    height: 100vh !important;
  }
  .main-presentation__textbox {
    width: auto !important;
    padding: 0px 104px 40px 104px !important;
  }
  .main-presentation__textbox .hola {
    font-weight: 600 !important;
  }
  .main-presentation__icons {
    margin-bottom: 72px;
  }
  .main-services {
    height: initial !important;
    padding: 64px !important;
  }
  .main-services__text {
    padding: 0 104px !important;
  }
  .main-services__intro {
    height: initial !important;
  }
  .main-services__cards {
    height: initial !important;
    margin-top: 64px;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
    padding: 0 104px !important;
    gap: 0 !important;
  }
  .main-card {
    padding: 0 20px !important;
  }
  .main-cards__title {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    white-space: break-spaces;
    overflow-wrap: normal;
  }
  .main-cards__text2 {
    display: none;
  }
  .main-cards__text-pc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 51px;
  }
  .main-cards__text2-pc {
    margin-bottom: 0;
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    font-family: 'Lato';
    font-size: 14px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #0e201d;
  }
<<<<<<< HEAD
  .layer-no {
    background: #a4ddd2 !important;
  }
=======
>>>>>>> f56042b (clients colors fixed)
  .figure {
    height: auto;
  }
  .clientes p {
    padding: 18px 104px 32px 104px;
  }
  .clientes .clientes__img-logos a figure img {
    width: 52%;
    height: 52%;
  }
  .clientes__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .clientes__img-logos {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  figure {
    width: auto !important;
  }
  .col {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 1490px) {
  .main-services__cards {
    padding: 0 160px !important;
  }
  .main-card {
    padding: 0 31px !important;
  }
}

@media (min-width: 1660px) {
  .main-card {
    padding: 0 88px !important;
  }
}

@media (min-width: 2100px) {
  .container {
    max-width: initial;
    margin: 0 15vw !important;
  }
  .main-services__cards {
    padding: 0 265px !important;
  }
  .main-card {
    padding: 0 129px !important;
  }
}

@media (min-width: 2580px) {
  .main-services__cards {
    padding: 0 265px !important;
  }
  .main-card {
    padding: 0 200px !important;
  }
}

.float {
  position: fixed;
  width: 48px;
  height: 48px;
  bottom: 20px;
  right: 20px;
  background-color: #25d366;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  -webkit-box-shadow: 0 2.4px 9.6px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 2.4px 9.6px 0 rgba(0, 0, 0, 0.15);
  z-index: 100;
}

.float:hover {
  text-decoration: none;
  color: #25d366;
  background-color: #fff;
}
/*# sourceMappingURL=styles.css.map */