textarea:focus, input[type="text"]:focus, textarea[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus, .form-control:focus, .form-select:focus, .btn-close:focus {
  border-color: #daefec;
  -webkit-box-shadow: none;
          box-shadow: none;
}

body {
  font-family: "Lato", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-padding-top: 67px;
  scroll-behavior: smooth;
}

html,
body {
  max-width: 100% !important;
  overflow-x: hidden !important;
}

ul,
a {
  text-decoration: none;
  padding: 0 0.5rem !important;
}

::-moz-selection {
  background: #6cc8b6 !important;
  color: #fff;
}

::selection {
  background: #6cc8b6 !important;
  color: #fff;
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav {
  background-color: #fbfdfd;
  padding-top: 16px !important;
}

.container-menu {
  padding: 0 16px !important;
  width: 100vw !important;
}

.navbar-dark .navbar-toggler {
  padding: 0 !important;
}

.navbar-dark .navbar-toggler-icon {
  background-image: url("../assets/img/menu.svg") !important;
}

.menu-icon {
  width: 32px;
}

.menu-text {
  display: inline;
  color: #348c7b;
  font-size: 20px;
  padding: 10px 0 0 8px;
}

.nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 24px;
}

.nav-item .nav-link {
  color: #6cc8b6 !important;
  font-family: "Lato", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
}

.nav-item .nav-link--active {
  color: #348c7b !important;
  font-weight: 700 !important;
}

.nav-item--top {
  padding-top: 32px;
}

.nav-item--bottom {
  padding-bottom: 32px;
}

@media (max-width: 290px) {
  .menu-text {
    font-size: 15px;
  }
}

@media (min-width: 992px) {
  .nav-link {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .nav-link:hover {
    color: #348c7b !important;
  }
  .nav-item--top {
    padding-top: 24px !important;
  }
  .nav-item--bottom {
    padding-bottom: 0px !important;
  }
}

.main-presentation {
  width: 100vw;
  height: 393px;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  margin: 55px 0px 48px 0px;
  padding: 40px 40px 0 1px;
  border-radius: 8px;
  -webkit-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
  background-color: #daefec;
}

.main-presentation .main-presentation__name {
  margin: 0 0 16px 87px;
  font-family: Lato;
  font-size: 18px;
  font-weight: 600;
  text-align: right;
  color: #348c7b;
  white-space: nowrap;
}

.main-presentation .main-presentation__name .main-presentation__text1 {
  font-size: 16px;
  font-weight: medium;
  color: #000;
}

.main-presentation .main-presentation__title {
  margin: 16px 0 16px 152px;
  font-family: Lato;
  font-size: 14px;
  text-align: right;
  color: #000;
}

.main-presentation .main-presentation__text2 {
  margin: 16px 0 13px 37px;
  font-family: Lato;
  font-size: 17px;
  font-weight: 300;
  text-align: right;
  color: #000;
}

.main-presentation .main-presentation__text3 {
  margin: 16px 0 114px 129px;
  font-family: Lato;
  font-size: 17px;
  font-weight: 500;
  text-align: right;
  color: #000;
}

.main-title {
  margin: 48px 16px 16px 17px;
  font-family: Jost;
  font-size: 24px;
  letter-spacing: 1.2px;
  text-align: left;
  color: #000;
}

.main-proyects {
  width: 343px;
  height: 523px;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  padding: 24px;
  border-radius: 8px;
  -webkit-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
  background-color: #fff;
}

.main-proyects .main-proyects__title {
  margin: 0 3px 24px 8px;
  font-family: Lato;
  font-size: 16px;
  font-weight: 300;
  text-align: left;
  color: #555050;
}

.main-proyects .main-proyects__img1 {
  width: 113px;
  height: 113px;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  margin: 20px 69px 30px 0;
}

.main-proyects .main-proyects__img2 {
  width: 113px;
  height: 113px;
  position: absolute;
  left: 105px;
  top: 144px;
}

.main-proyects .main-proyects__img3 {
  width: 113px;
  height: 113px;
  position: absolute;
  left: 188px;
  top: 69px;
}

.main-proyects .main-proyects__enterprise {
  margin: 82px 71px 6px 8px;
  font-family: Lato;
  font-size: 16px;
  font-weight: 500;
  text-align: left;
  color: #555050;
}

.main-proyects .main-proyects__who {
  margin: 6px 15px 24px 8px;
  font-family: Lato;
  font-size: 16px;
  text-align: left;
  color: #555050;
}

.main-proyects .main-proyects__text1 {
  width: 82px;
  height: 19px;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  margin: 24px 92px 8px 8px;
  font-family: Lato;
  font-size: 16px;
  font-weight: 600;
  text-align: left;
  color: #348c7b;
}

.main-products {
  width: 343px;
  height: 478px;
  margin: 0 0 16px 17px;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  padding: 32px;
  border-radius: 8px;
  -webkit-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
  background-color: #fff;
}

.main-products .main-products__title {
  width: 279px;
  height: 19px;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  margin: 0 0 24px;
  font-family: Lato;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: #348c7b;
}

.main-products .main-products__text1 {
  margin: 24px 0 2px;
  font-family: Lato;
  font-size: 16px;
  text-align: center;
  color: #348c7b;
}

.main-products .main-products__text2 {
  margin: 2px 0 24px;
  font-family: Lato;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  color: #555050;
}

.main-contact {
  width: 343px;
  height: 260px;
  margin: 50px 16px 40px;
  padding: 24px;
  border-radius: 8px;
  -webkit-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
  background-color: #fff;
}

.main-contact .main-contact__text1 {
  margin: 0 0 10px;
  font-family: Lato;
  font-size: 18px;
  font-weight: 500;
  text-align: left;
  color: #555050;
}

.main-contact .main-contact__social {
  margin: 27px 50px 18px 48px;
  font-family: Lato;
  font-size: 16px;
  text-align: left;
  color: #348c7b;
}

.main-bar {
  width: 375px;
  height: 16px;
  margin: 40px 0 0;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  background-color: #b9dbd7;
}
/*# sourceMappingURL=styles.css.map */